.login {
  width: 340px;
  margin-inline: auto;
  padding-top: 220px;
  display: grid;
  grid-template-rows: 100vh, 100px;
  &__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 37px;
  }

  &__input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-inline: auto;
    margin-left: 8px;
  }

  &__input-icon-container {
    width: 33px;
    height: 100%;
    padding: 8px;
    margin-top: 4px;
  }

  &__input {
    width: 270px;
    height: 35px;
    border: 2px solid $primary-clr;
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    padding-inline: 5px;
    background-image: url("../../assets/touch-icon.png");
    background-position: 10px center;
    background-repeat: no-repeat;

    &:not(:nth-of-type(1)) {
      margin-top: 5px;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    width: 270px;
    height: 35px;
    background-color: $accent-clr;
    border: none;
    font-weight: $fw-bold;
    margin-left: 40px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      cursor: pointer;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: $primary-clr;
    h1 {
      text-align: center;
      color: $white-100;
      margin-top: 30px;
    }
  }

  &__error-message {
    margin-bottom: 10px;
    padding-left: 40px;
    color: $red-100;
    font-size: 14px;
  }
}
