.articles {
  max-width: 1085px;
  margin-inline: auto;
  min-height: 65.4vh;
  &__container {
    display: grid;
    padding-inline: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 130px;
    @media (max-width: 50em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 25em) {
      grid-template-columns: 1fr;
    }
  }
}
