@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,400;0,700;1,700&display=swap");

$font-family: "Noto Sans", sans-serif;

$fs-100: var(--fs-100);
$fs-200: var(--fs-200);
$fs-300: var(--fs-300);
$fs-400: var(--fs-400);
$fs-700: var(--fs-700);

$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;

$primary-clr: #681201;
$accent-clr: #f4ad53;
$white-100: #fdfbfc;
$black-500: #280700;
