.header {
  padding-left: 110px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white-100;

  &__title {
    font-weight: $fw-bold;
  }

  &__sub-title {
    font-weight: normal;
  }
}
