.header {
  padding-left: 110px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white-100;
  padding-right: 20px;

  &__page-title {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: $fw-bold;
  }

  &__sub-title {
    font-weight: normal;
  }

  &__logout {
    outline: none;
    border: none;
    padding-inline: 20px;
    padding-block: 5px;
    background-color: $primary-clr;
    color: $white-100;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }
  }
}
